<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>MAINTENANCE</h1>
      <h2>
        The online beauty experience where you can keep track of your look with
        our booking service, and take charge of your own style by selecting your
        next treatments a la carte from our menu. Book your appointment with
        your professional stylist in our online calendar today!
      </h2>
      <p>Register for an account or Login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
